{{ attach_library('momentum2018/header') }}
<div class="header">
  <div class="momentum-logo">
    <img src="{{ logo }}" alt="">
  </div>
  <div class="header__navigation">
    <ul class="menu">
      {% for item in menu_items %}
      <li{% if item.class %} class="{{ item.class }}"{% endif %}>
        <a href="{{ item.link }}">{{ item.text }}</a>
          {% if item.submenu_items %}
          <ul>
            {% for item in item.submenu_items %}
            <li>
              <a href="{{ item.link }}">{{ item.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>